# Latex
**/proposal*.fdb_latexmk
**/proposal*.log
**/proposal*.synctex.gz
**/proposal*.aux
**/proposal*.fls
**/proposal*.out

# Python cache
**/__pycache__/
*.pyc

# Generated runtime artifacts
db-data/

.idea/
.vscode/
/.venv

